{{#section "js"}}
  {{! thêm danh mục  }}
  <script>
    $('#frmAddCate').on('submit',function(e){ e.preventDefault(); const catName
    = $('#txtCatName').val(); if (!catName){ alert(`Vui lòng điền tên danh
    mục!`); return; }
    $.getJSON(`/admin/categories/is-available?catName=${catName}`,function(data){
    if (data===false){ alert('Danh mục đã tồn tại'); return; } else { alert(`Đã
    thêm danh mục ${catName}`); $('#frmAddCate').off('submit').submit(); } });
    });
  </script>

  {{! xóa danh mục  }}
  <script>
    $('.delCatBtn').on('click', function (e){ const catID = $(this).data('id');
    $.getJSON(`/admin/categories/has-products?catID=${catID}`,function(data){ if
    (data===false){ alert('Danh mục tồn tại sản phẩm! Không thể xóa!'); return;
    } else { alert(`Đã xóa danh mục ${catID}`); $("#txtDelCatID").val(catID);
    $("#frmDelCate").submit() } } )})

  </script>
{{/section}}

<a
  class="mx-4"
  id="menuBtn"
  class=""
  onclick="displayMenu()"
  href="#"
  role="button"
>
  <i class="fa fa-list fa-2x" aria-hidden="true"></i>
</a>
<h4 class="my-4 adminTitle">QUẢN LÝ DANH MỤC</h4>

<!-- Modal thêm danh mục lớn -->
<div
  class="modal fade"
  id="modalAddCategory"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm danh mục</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="frmAddCate" method="post" class="form">
          <label for=""></label>
          <input
            type="text"
            class="form-control"
            id="txtCatName"
            name="catName"
            aria-describedby="helpId"
            placeholder="Danh mục mới"
          />
          <button
            type="submit"
            class="btn btn-warning text-light mt-4 addCategory_btnSave"
          >Lưu</button>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="d-flex justify-content-between"><!-- Button trigger modal -->
  <button
    type="button"
    class="form__addBtn"
    data-toggle="modal"
    data-target="#modalAddCategory"
  >
    Thêm danh mục
  </button>
  {{! search }}
  <form class="form-search" action="action_page.php">
    <input type="text" placeholder="Tìm theo tên" name="search" />
    <button type="submit"><i class="fa fa-search"></i></button>
  </form></div>

{{! table  }}
<div class="table-responsive">
  <table class="table table-striped adminTable">
    <thead class="adminTable_header">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Danh mục</th>
        <th scope="col">Chi tiết</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each this.categoryList}}
        <tr>
          {{! <th scope="row">1</th> }}
          <td>{{catID}}</td>
          <td>{{catName}}</td>
          <td>
            <a
              class="btn btn-success adminTable_updateBtn mx-1"
              href="/admin/categories/detail/byCat/{{catID}}"
              role="button"
            >
              <i class="fa fa-eye" aria-hidden="true"></i></a>
          </td>
          <td>
            <a
              class="btn btn-success adminTable_updateBtn mx-1"
              href="/admin/edit-user?uID={{uID}}"
              role="button"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a
              class="btn btn-danger adminTable_deleteBtn mx-1 delCatBtn"
              href="#"
              role="button"
              data-id="{{catID}}"
            >
              <i class="fa fa-trash" aria-hidden="true"></i></a>
            <form
              action="/admin/categories/delete"
              method="post"
              id="frmDelCate"
            >
              <input type="hidden" id="txtDelCatID" name="catID" /></form>
          </td>

        </tr>

      {{/each}}

    </tbody>
  </table></div>

{{! pagination  }}
<nav class="my-3" aria-label="...">
  <ul class="pagination pagination-sm justify-content-center">
    {{#each this.pageNumbers}}
      {{#if isCurrent}}
        <li class="pagi_btn active"><a
            class="pagi_btn_text"
            href="?page={{value}}"
          >{{value}}</a></li>
      {{else}}
        <li class="pagi_btn"><a
            class="pagi_btn_text"
            href="?page={{value}}"
          >{{value}}</a></li>
      {{/if}}

    {{/each}}

  </ul>
</nav>