<a
  class="mx-4"
  id="menuBtn"
  class=""
  onclick="displayMenu()"
  href="#"
  role="button"
>
  <i class="fa fa-list fa-2x" aria-hidden="true"></i>
</a>
<h3 class="my-4 adminTitle">QUẢN LÝ DANH MỤC</h3>
{{! thêm  }}
<div class="d-flex flex-row-reverse">
  <a
    class="admin_addBtn"
    href="#"
    data-toggle="modal"
    data-target="#modalAddCategory"
  >
    <div class="adminBtnText">THÊM DANH MỤC</div>
  </a></div>
{{! table  }}
{{#each this.cateList}}
  <div class="table-responsive">
    <table class="table adminTable">
      <thead class="adminTable_header">
        <tr>
          <th scope="col">
            <div class="d-flex justify-content-between">
              <div>{{level1}}</div>
              <div>
                <a
                  name=""
                  id=""
                  class="btn btn-light adminTable_deleteBtn adminCategory_btn mx-1"
                  href="#"
                  role="button"
                  data-toggle="modal"
                  data-target="#modalAddSmallCategory"
                >
                  <i class="fa fa-plus" aria-hidden="true"></i></a>
                <a
                  name=""
                  id=""
                  class="btn btn-light adminTable_deleteBtn adminCategory_btn mx-1"
                  href="#"
                  role="button"
                >
                  <i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a
                  name=""
                  id=""
                  class="btn btn-light adminTable_deleteBtn adminCategory_btn mx-1"
                  href="#"
                  role="button"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each level2}}
          <tr>
            <td class="text-left px-5">
              <div class="d-flex justify-content-between">
                <div>{{typeName}}</div>
                <div>
                  <a
                    name=""
                    id=""
                    class="btn btn-light adminTable_deleteBtn adminSmallCategory_btn mx-1"
                    href="#"
                    role="button"
                  >
                    <i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a
                    name=""
                    id=""
                    class="btn btn-light adminTable_deleteBtn adminSmallCategory_btn mx-1"
                    href="#"
                    role="button"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
              </div></td>
          </tr>
        {{/each}}

      </tbody>
    </table></div>
{{/each}}

<!-- Modal -->
<div
  class="modal fade"
  id="modalAddCategory"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm danh mục</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for=""></label>
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Danh mục mới"
          />

        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button
          type="button"
          class="btn btn-light addCategory_btnSave"
        >Lưu</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal thêm danh mục con -->
<div
  class="modal fade"
  id="modalAddSmallCategory"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Điện tử</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for=""></label>
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Danh mục mới"
          />

        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button
          type="button"
          class="btn btn-light addCategory_btnSave"
        >Lưu</button>
      </div>
    </div>
  </div>
</div>

{{! pagination  }}
<nav class="my-3" aria-label="...">
  <ul class="pagination pagination-sm justify-content-center">
    {{#each this.pageNumbers}}
      {{#if isCurrent}}
        <li class="pagi_btn active"><a
            class="pagi_btn_text"
            href="?page={{value}}"
          >{{value}}</a></li>
      {{else}}
        <li class="pagi_btn"><a
            class="pagi_btn_text"
            href="?page={{value}}"
          >{{value}}</a></li>
      {{/if}}

    {{/each}}

  </ul>
</nav>