<a
  class="mx-4"
  id="menuBtn"
  class=""
  onclick="displayMenu()"
  href="#"
  role="button"
>
  <i class="fa fa-list fa-2x" aria-hidden="true"></i>
</a>
<h3 class="my-4 adminTitle">QUẢN LÝ NGƯỜI DÙNG</h3>

<div class="form">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="input-container ic1">
        <input
          id="name"
          class="input"
          type="text"
          placeholder=" "
          value={{concatName this.user.firstName this.user.lastName}}
        />
        <div class="cut"></div>
        <label for="name" class="placeholder">Họ tên</label>
      </div>
      <div class="input-container ic1">
        <input
          id="username"
          class="input"
          type="text"
          placeholder=" "
          value={{this.user.uID}}
        />
        <div class="cut"></div>
        <label for="username" class="placeholder">ID</label>
      </div>
      <div class="input-container ic1">
        <input
          id="password"
          class="input"
          type="password"
          placeholder=" "
          value="{{this.user.psword}}"
        />
        <div class="cut"></div>
        <label for="password" class="placeholder">Mật khẩu</label>
      </div>

    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="input-container ic2">
        <input
          id="email"
          class="input"
          type="text"
          placeholder=" "
          value={{this.user.email}}
        />
        <div class="cut"></div>
        <label for="email" class="placeholder">Email</label>
      </div>

      <div class="input-container ic2">
        <!-- Date input -->
        <input
          class="form-control input"
          id="dob"
          name="dob"
          type="date"
          placeholder=" "
          value="{{formatTime this.user.dob "YYYY-MM-DD"}}"
        />
        <div class="cut"></div>
        <label for="dob" class="placeholder">Ngày sinh</label>
      </div>

      <div class="input-container ic2">
        <div class="cut"></div>
        {{! <label for="typeUser" class="placeholder">Loại tài khoản</label> }}
        <select id="typeUser" class="typeUser">
          <option value="" disabled selected>{{this.user.userType}}</option>
          <option value="1">admin</option>
          <option value="2">bidder</option>
          <option value="3">seller</option></select>
        <div class="cut"></div>

      </div></div></div>
  <button type="text" class="submit">CHỈNH SỬA</button>
</div>