<a
  class="mx-4"
  id="menuBtn"
  class=""
  onclick="displayMenu()"
  href="#"
  role="button"
>
  <i class="fa fa-list fa-2x" aria-hidden="true"></i>
</a>
{{! <h3 class="my-4 adminTitle">QUẢN LÝ NGƯỜI DÙNG</h3> }}

<form id="frmEditUser" method="post" class="form mt-4">
  <h5 class="text-left">Thông tin người dùng</h5>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="input-container ic1">
        <input
          id="txtEmail"
          class="input"
          type="text"
          placeholder=" "
          value="{{this.user.email}}"
          name="email"
          readonly
        />
        <div class="cut"></div>
        <label for="txtEmail" class="placeholder">Email</label>
      </div>
      <div class="input-container ic1">
        <input
          id="txtFirstName"
          class="input"
          type="text"
          placeholder=" "
          value="{{this.user.firstName}}"
          name="firstName"
        />
        <div class="cut"></div>
        <label for="txtFirstName" class="placeholder">Tên</label>
      </div>
      <div class="input-container ic1">
        <input
          id="txtAddress"
          class="input"
          type="text"
          placeholder=" "
          value="{{this.user.address}}"
          name="address"
        />
        <div class="cut"></div>
        <label for="txtAddress" class="placeholder">Địa chỉ</label>
      </div>
      <div class="input-container ic1">
        <div class="cut"></div>
        {{! <label for="typeUser" class="placeholder">Loại tài khoản</label> }}
        <select id="typeUser" class="typeUser" name="userType">
          <option
            value="{{this.user.userType}}"
            disabled
            selected
          >{{this.user.userType}}</option>
          <option value="admin">Admin</option>
          <option value="bidder">Bidder</option>
          <option value="seller">Seller</option></select>
        <div class="cut"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">

      <div class="input-container ic2">
        <!-- Date input -->
        <input
          class="form-control input"
          id="txtDOB"
          name="dob"
          type="date"
          placeholder=" "
          value="{{formatTime this.user.dob 'YYYY-MM-DD'}}"
          name="dob"
        />
        <div class="cut"></div>
        <label for="dob" class="placeholder">Ngày sinh</label>
      </div>
      <div class="input-container ic2">
        <input
          id="txtLastName"
          class="input"
          type="text"
          placeholder=" "
          value="{{this.user.lastName}}"
          name="lastName"
        />
        <div class="cut"></div>
        <label for="txtLastName" class="placeholder">Họ</label>
      </div>
      <div class="input-container ic2">
        <input
          id="txtHotline"
          class="input"
          type="text"
          placeholder=" "
          value="{{this.user.hotline}}"
          name="hotline"
        />
        <div class="cut"></div>
        <label for="txtHotline" class="placeholder">Điện thoại</label>
      </div>

    </div>

    <div class="col-3">
      <button type="text" class="submit btn-block w-100 mt-4"><i
          class="fa fa-pencil fa-lg"
          aria-hidden="true"
        ></i>
        CHỈNH SỬA THÔNG TIN</button></div>
  </div>

</form>
<hr />
<form
  id="frmEditPwdUser"
  action="/admin/edit-user-password/{{this.user.uID}}"
  method="post"
  class="form"
>
  <h5 class="text-left mt-5">Tạo mật khẩu mới</h5>
  {{#if err_message}}
    <div
      class="alert alert-warning alert-dismissible fade show m-0"
      role="alert"
    >
      <strong>{{err_message}}</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}
  {{#if message}}
    <div
      class="alert alert-success alert-dismissible fade show m-0"
      role="alert"
    >
      <strong>{{message}}</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}
  <div class="row">
    <input
      id="txtUID"
      class="input"
      type="text"
      placeholder=" "
      value="{{this.user.uID}}"
      name="uID"
      readonly
      hidden
    />
    <div class="col-xs-12 col-sm-6">
      <div class="input-container ic1">
        <input
          id="txtPwd"
          class="input"
          type="text"
          placeholder=" "
          name="psword"
          required
        />
        <div class="cut"></div>
        <label for="txtPwd" class="placeholder">Mật khẩu mới</label>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="input-container ic2">
        <input
          id="txtConfirm"
          class="input"
          type="text"
          placeholder=" "
          name="confirm"
          required
        />
        <div class="cut"></div>
        <label for="txtConfirm" class="placeholder">Xác nhận mật khẩu mới</label>
      </div>
    </div>

    <div class="col-3">
      <button id="btnPwd" type="text" class="submit btn-block w-100 mt-4">
        <i class="fa fa-key fa-lg" aria-hidden="true"></i>
        TẠO MẬT KHẨU MỚI</button>
    </div>
  </div>

</form>