<div class="container-fluid">
    <div class="m-5 d-flex justify-content-between ">
        <h4>Tất cả sản phẩm</h4>
        <form method="GET">
            <select class="form-select" aria-label="Default select example" onchange="location = this.value;">
                <option selected>Sắp xếp</option>
                <option value="/product/searchPrice/{{this.products.prodType}}">Theo giá</option>
                <option value="/product/searchDate/{{this.products.prodType}}">Theo ngày</option>
            </select>
        </form>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-2">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
                        <span class="textFavorite"> Yêu thích</span>
                    </button>
                    <div class="product-imitation">
                        <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
                    </div>
                    <div class="product-desc" onclick="location.href='/detail'">
                        <span class="product-label">
                            HOT
                        </span>
                        <small class="text-muted">Bids: 10</small>
                        <a href="#" class="product-name"> Samsung Galaxy A52s</a>

                        <div class="price">
                            <div>NguoiSaoHoa:
                                <span class="font-weight-bold">1.000.000</span>
                            </div>
                        </div>
                        <div class="textPrice">
                            <div>Giá mua ngay:
                                <span class="font-weight-bold">20.000.000d</span>
                            </div>
                        </div>
                        <div class="remain-time">
                            <i class="fa fa-clock-o"></i>
                            Còn lại: 10:30:44
                        </div>

                        <br />
                        <div class="text-right">
                            <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                21/10/2021
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
                        <span class="textFavorite"> Yêu thích</span>
                    </button>
                    <div class="product-imitation">
                        <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
                    </div>
                    <div class="product-desc" onclick="location.href='/detail'">
                        <span class="product-label">
                            HOT
                        </span>
                        <small class="text-muted">Bids: 10</small>
                        <a href="#" class="product-name"> Samsung Galaxy A52s</a>

                        <div class="price">
                            <div>NguoiSaoHoa:
                                <span class="font-weight-bold">1.000.000</span>
                            </div>
                        </div>
                        <div class="textPrice">
                            <div>Giá mua ngay:
                                <span class="font-weight-bold">20.000.000d</span>
                            </div>
                        </div>
                        <div class="remain-time">
                            <i class="fa fa-clock-o"></i>
                            Còn lại: 10:30:44
                        </div>

                        <br />
                        <div class="text-right">
                            <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                21/10/2021
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
                        <span class="textFavorite"> Yêu thích</span>
                    </button>
                    <div class="product-imitation">
                        <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
                    </div>
                    <div class="product-desc" onclick="location.href='/detail'">
                        <span class="product-label">
                            HOT
                        </span>
                        <small class="text-muted">Bids: 10</small>
                        <a href="#" class="product-name"> Samsung Galaxy A52s</a>

                        <div class="price">
                            <div>NguoiSaoHoa:
                                <span class="font-weight-bold">1.000.000</span>
                            </div>
                        </div>
                        <div class="textPrice">
                            <div>Giá mua ngay:
                                <span class="font-weight-bold">20.000.000d</span>
                            </div>
                        </div>
                        <div class="remain-time">
                            <i class="fa fa-clock-o"></i>
                            Còn lại: 10:30:44
                        </div>

                        <br />
                        <div class="text-right">
                            <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                21/10/2021
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
                        <span class="textFavorite"> Yêu thích</span>
                    </button>
                    <div class="product-imitation">
                        <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
                    </div>
                    <div class="product-desc" onclick="location.href='/detail'">
                        <span class="product-label">
                            HOT
                        </span>
                        <small class="text-muted">Bids: 10</small>
                        <a href="#" class="product-name"> Samsung Galaxy A52s</a>

                        <div class="price">
                            <div>NguoiSaoHoa:
                                <span class="font-weight-bold">1.000.000</span>
                            </div>
                        </div>
                        <div class="textPrice">
                            <div>Giá mua ngay:
                                <span class="font-weight-bold">20.000.000d</span>
                            </div>
                        </div>
                        <div class="remain-time">
                            <i class="fa fa-clock-o"></i>
                            Còn lại: 10:30:44
                        </div>

                        <br />
                        <div class="text-right">
                            <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                21/10/2021
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
                        <span class="textFavorite"> Yêu thích</span>
                    </button>
                    <div class="product-imitation">
                        <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
                    </div>
                    <div class="product-desc" onclick="location.href='/detail'">
                        <span class="product-label">
                            HOT
                        </span>
                        <small class="text-muted">Bids: 10</small>
                        <a href="#" class="product-name"> Samsung Galaxy A52s</a>

                        <div class="price">
                            <div>NguoiSaoHoa:
                                <span class="font-weight-bold">1.000.000</span>
                            </div>
                        </div>
                        <div class="textPrice">
                            <div>Giá mua ngay:
                                <span class="font-weight-bold">20.000.000d</span>
                            </div>
                        </div>
                        <div class="remain-time">
                            <i class="fa fa-clock-o"></i>
                            Còn lại: 10:30:44
                        </div>

                        <br />
                        <div class="text-right">
                            <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                21/10/2021
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
                        <span class="textFavorite"> Yêu thích</span>
                    </button>
                    <div class="product-imitation">
                        <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img" />
                    </div>
                    <div class="product-desc" onclick="location.href='/detail'">
                        <span class="product-label">
                            HOT
                        </span>
                        <small class="text-muted">Bids: 10</small>
                        <a href="#" class="product-name"> Samsung Galaxy A52s</a>

                        <div class="price">
                            <div>NguoiSaoHoa:
                                <span class="font-weight-bold">1.000.000</span>
                            </div>
                        </div>
                        <div class="textPrice">
                            <div>Giá mua ngay:
                                <span class="font-weight-bold">20.000.000d</span>
                            </div>
                        </div>
                        <div class="remain-time">
                            <i class="fa fa-clock-o"></i>
                            Còn lại: 10:30:44
                        </div>

                        <br />
                        <div class="text-right">
                            <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                21/10/2021
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--
        {{#if this.empty}}
        <h5 class="card-title">Không có dữ liệu</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        {{#else}}
        {{#each this.products}}
        <div class="col-md-2">
            <div class="ibox" {{#if timeEnd-datePosted < 0}}disabled{{/if}}>
                <div class="ibox-content product-box">
                    <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
                        <span class="textFavorite"> Yêu thích</span>
                    </button>
                    <div class="product-imitation">
                        <img src="/public/images/sp/{{prodID}}/main.jpg" class="responsive-img" />
                    </div>
                    <div class="product-desc" onclick="location.href='/detail/{{prodID}}'">
                        <span class="product-label">
                            HOT
                        </span>
                        <small class="text-muted">Bids: 10</small>
                        <a href="#" class="product-name"> {{prodName}}</a>

                        <div class="price">
                            <div>NguoiSaoHoa:
                                <span class="font-weight-bold">{{format_price highestBID}}</span>
                            </div>
                        </div>
                        <div class="textPrice">
                            <div>Giá mua ngay:
                                <span class="font-weight-bold">{{format_price buyNowPrice}}</span>
                            </div>
                        </div>
                        <div class="remain-time">
                            <i class="fa fa-clock-o"></i>
                            Còn lại: {{timeEnd - datePosted}}
                        </div>

                        <br />
                        <div class="text-right">
                            <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                               {{datePosted}}
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
                    <a class="page-link" href="?page={{prev_page}}">Previous</a>
                </li>
                {{#each this.pageNumbers}}
                {{#if isCurrent}}
                <li class="page-item active">
                    <a class="page-link" href="javascript:;">{{value}}</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                </li>
                {{/if}}
                {{/each}}
                <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
                    <a class="page-link" href="?page={{next_page}}">Next</a>
                </li>
            </ul>
        </nav> 
        {{/each}}
        {{/if}}  -->
    </div>
</div>