<div class="container-fluid" style="min-height: 100%;">
    <div class="m-5 d-flex justify-content-between">
        {{#if productName}}
        {{#each productName}}
        <h4>Danh mục {{typeName}}:</h4>
        <form method="GET">
            <select class="form-select" aria-label="Default select example" onchange="location = this.value;">
                <option value="/byCat2/{{typeID}}">Sắp xếp</option>
                <option value="/byCat2/sortPrice/{{typeID}}" {{#if sortPrice}}selected{{/if}}>Theo giá tăng dần</option>
                <option value="/byCat2/sortDate/{{typeID}}" {{#if sortDate}}selected{{/if}}>Theo thời gian kết thúc giảm
                    dần</option>
            </select>
        </form>
        {{/each}}
        {{/if}}

        {{#if categoryName}}
        {{#each categoryName}}
        <h4>Danh mục {{catName}}:</h4>
        <form method="GET">
            <select class="form-select" aria-label="Default select example" onchange="location = this.value;">
                <option value="/byCat/{{typeID}}">Sắp xếp</option>
                <option value="/byCat/sortPrice/{{catID}}" {{#if sortPrice}}selected{{/if}}>Theo giá tăng dần</option>
                <option value="/byCat/sortDate/{{catID}}" {{#if sortDate}}selected{{/if}}>Theo thời gian kết thúc giảm
                    dần</option>
            </select>
        </form>
        {{/each}}
        {{/if}}

        {{#if searchName}}
        {{#each searchName}}
        <h4>Tìm kiếm: {{search}}</h4>
        <form method="GET">
            <select class="form-select" aria-label="Default select example" onchange="location = this.value;">
                <option value="/product/search?categorySearch={{cate}}&searchbox={{search}}">Sắp xếp</option>
                <option value="/product/sortPrice/search?categorySearch={{cate}}&searchbox={{search}}" {{#if
                    sortPrice}}selected{{/if}}>Theo giá tăng dần</option>
                <option value="/product/sortDate/search?categorySearch={{cate}}&searchbox={{search}}" {{#if
                    sortDate}}selected{{/if}}>Theo thời gian kết thúc giảm
                    dần</option>
            </select>
        </form>
        {{/each}}
        {{/if}}
    </div>

    

    {{#if this.empty}}
    <h5 class="card-title text-center">Không có sản phẩm</h5>
    <br>
    <div class="col-md-4 text-center d-flex justify-content-center" style="visibility: hidden;">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="product-imitation">
                    <img src="/public/images/samsung-galaxy-a52s-5g-mint-600x600.jpg" class="responsive-img">
                </div>
                <div class="product-desc">
                    <a href="#" class="product-name"> No Infor</a>
                </div>
            </div>
        </div>
    </div>

    {{else}}
    <div class="row d-flex justify-content-center ">
        {{#each this.products}}
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
                        <span class="textFavorite"> Yêu thích</span>
                    </button>
                    <div class="product-imitation">
                        <img src="/public/images/{{prodID}}/main.jpg" class="responsive-img" />
                    </div>
                    <div class="product-desc" onclick="location.href='/detail/{{prodID}}'">
                        <span class="product-label">
                            {{#if newpost}}
                            NEW
                            {{else}}
                            HOT
                            {{/if}}
                        </span>
                        <small class="text-muted">Bids: {{CountBids}}</small>
                        <a href="#" class="product-name"> {{prodName}}</a>

                        <div class="price">
                            {{#if nameofUser}}
                            <div>{{nameofUser}}:
                                <span class="font-weight-bold">{{format_price curPrice}}</span>
                            </div>
                            {{else}}
                            <div>Giá khởi điểm: <span class="font-weight-bold">{{format_price curPrice}}</span></div>
                            {{/if}}
                        </div>
                        <div class="textPrice">
                            <div>Giá mua ngay:
                                <span class="font-weight-bold">{{format_price buyNowPrice}}</span>
                            </div>
                        </div>
                        <div class="remain-time">
                            <i class="fa fa-clock-o"></i>
                            Còn lại:
                            {{#if remain}}
                            {{remain}}
                            {{else}}
                            {{formatTime timeEnd "DD/MM/YYYY"}}
                            {{/if}}
                        </div>

                        <br />
                        <div class="text-right">
                            <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                {{formatTime timePosted "DD/MM/YYYY"}}
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
                    <a class="page-link" href="?page={{prev_page}}">&laquo;</a>
                </li>
                {{#each this.pageNumbers}}
                {{#if isCurrent}}
                <li class="page-item active">
                    <a class="page-link" href="javascript:;">{{value}}</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                </li>
                {{/if}}
                {{/each}}
                <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
                    <a class="page-link" href="?page={{next_page}}">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
    {{/if}}
</div>