<div class="container my-5">
    <a class="btn" onclick="showInforTable()">
        <h4>Thông tin cá nhân
            <span><i class="fa fa-chevron-right" id="chevron-sight"></i></span>
        </h4>
    </a>

    <div class="container mt-3" style="width:90%; display: none;" id="InforTable">
        <table class="table table-hover table-borderless">
            <tbody>
                <tr>
                    <th scope="row">Họ và tên</th>
                    <td colspan="2">{{concatName information.firstName information.lastName}}</td>
                    <td><a href="javascript:/" data-toggle="modal" data-target="#namemodal">Chỉnh sửa</a></td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td colspan="2">{{information.email}}</td>
                    <td><a href="javascript:/" data-toggle="modal" data-target="#emailmodal">Chỉnh sửa</a></td>
                </tr>
                <tr>
                    <th scope="row">Ngày sinh</th>
                    <td colspan="2">{{formatTime information.dob "DD/MM/YYYY"}}</td>
                    <td><a href="javascript:/" data-toggle="modal" data-target="#dobmodal">Chỉnh sửa</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="namemodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa tên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/profile/{{information.uID}}" method="post" id="frmChange">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text border-right-0">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg border-left-0" name="newname"
                                placeholder="Nhập tên mới" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text border-right-0">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control form-control-lg border-left-0" name="checkpass"
                                placeholder="Nhập mật khẩu" autofocus>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <a type="submit" class="btn btn-primary" href="javascript: $('#frmChange').submit();">Lưu</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="emailmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text border-right-0">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg border-left-0" name="newmail"
                                placeholder="Nhập email mới" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text border-right-0">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control form-control-lg border-left-0" name="checkpass"
                                placeholder="Nhập mật khẩu" autofocus>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dobmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa ngày sinh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text border-right-0">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg border-left-0" name="newdob"
                                placeholder="Nhập ngày sinh mới" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text border-right-0">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control form-control-lg border-left-0" name="checkpass"
                                placeholder="Nhập mật khẩu" autofocus>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>


{{!-- ----------Change password------------- --}}
<div class="container my-5">
    <a class="btn" onclick="showInforTable1()">
        <h4>Đổi mật khẩu
            <span><i class="fa fa-chevron-right" id="chevron-sight-2"></i></span>
        </h4>
    </a>

    <div class="container-fluid h-100" style="display: none" id="changePass">
        <div class="row justify-content-center align-items-center ">
            <div class="col-sm-6">
                <form action="" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text border-right-0">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg border-left-0" name="newpass"
                                placeholder="Mật khẩu mới" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text border-right-0">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control form-control-lg border-left-0" name="oldpass"
                                placeholder="Mật khẩu cũ" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text border-right-0">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control form-control-lg border-left-0" name="confirmpass"
                                placeholder="Xác nhận mật khẩu cũ" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <a class="btn btn-lg btn-block text-white" href="javascript:/" role="button"
                                style="background-color: #FF8A00;">
                                LƯU LẠI
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 mb-5 navbar-custom">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item font-weight-bold bg-transparent border rounded-0 ">
            <a class="nav-link active" data-toggle="tab" href="#productlike">Sản phẩm yêu thích</a>
        </li>
        <li class="nav-item font-weight-bold bg-transparent border rounded-0 border-right-0 border-left-0">
            <a class="nav-link " data-toggle="tab" href="#productjoin">Sản phẩm đang tham gia</a>
        </li>
        <li class="nav-item font-weight-bold bg-transparent border">
            <a class="nav-link " data-toggle="tab" href="#productwin">Sản phẩm đã thắng</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="productlike" class="container tab-pane active"><br>
            <div class="container ">
                <div class="row justify-content-between">
                    {{#each favorite}}
                    <div class="col-4 col-md-4">
                        <div class="ibox">
                            <div class="ibox-content product-box">
                                <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon"
                                        aria-hidden="true"></i>
                                    <span class="textFavorite"> Yêu thích</span>
                                </button>
                                <div class="product-imitation">
                                    <img src="/public/images/{{prodID}}/main.jpg" class="responsive-img" />
                                </div>
                                <div class="product-desc" onclick="location.href='/detail/{{prodID}}'">
                                    <span class="product-label">
                                        HOT
                                    </span>
                                    <small class="text-muted">Bids: {{CountBids}}</small>
                                    <a href="#" class="product-name"> {{prodName}}</a>

                                    <div class="price">
                                        {{#if nameofUser}}
                                        <div>{{nameofUser}}:
                                            <span class="font-weight-bold">{{format_price curPrice}}</span>
                                        </div>
                                        {{else}}
                                        <div>Giá khởi điểm: <span class="font-weight-bold">{{format_price
                                                curPrice}}</span></div>
                                        {{/if}}
                                    </div>
                                    <div class="textPrice">
                                        <div>Giá mua ngay:
                                            <span class="font-weight-bold">{{format_price buyNowPrice}}</span>
                                        </div>
                                    </div>
                                    <div class="remain-time">
                                        <i class="fa fa-clock-o"></i>
                                        Còn lại: {{formatTime timeEnd "DD/MM/YYYY"}}
                                    </div>

                                    <br />
                                    <div class="text-right">
                                        <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                            {{formatTime timePosted "DD/MM/YYYY"}}
                                        </small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div id="productjoin" class="container tab-pane fade "><br>
            <div class="container ">
                <div class="row justify-content-between">
                    {{#each participate}}
                    <div class="col-4 col-md-4">
                        <div class="ibox">
                            <div class="ibox-content product-box">
                                <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon"
                                        aria-hidden="true"></i>
                                    <span class="textFavorite"> Yêu thích</span>
                                </button>
                                <div class="product-imitation">
                                    <img src="/public/images/{{prodID}}/main.jpg" class="responsive-img" />
                                </div>
                                <div class="product-desc" onclick="location.href='/detail/{{prodID}}'">
                                    <span class="product-label">
                                        HOT
                                    </span>
                                    <small class="text-muted">Bids: {{CountBids}}</small>
                                    <a href="#" class="product-name"> {{prodName}}</a>

                                    <div class="price">
                                        {{#if nameofUser}}
                                        <div>{{nameofUser}}:
                                            <span class="font-weight-bold">{{format_price curPrice}}</span>
                                        </div>
                                        {{else}}
                                        <div>Giá khởi điểm: <span class="font-weight-bold">{{format_price
                                                curPrice}}</span></div>
                                        {{/if}}
                                    </div>
                                    <div class="textPrice">
                                        <div>Giá mua ngay:
                                            <span class="font-weight-bold">{{format_price buyNowPrice}}</span>
                                        </div>
                                    </div>
                                    <div class="remain-time">
                                        <i class="fa fa-clock-o"></i>
                                        Còn lại: {{formatTime timeEnd "DD/MM/YYYY"}}
                                    </div>

                                    <br />
                                    <div class="text-right">
                                        <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                            {{formatTime timePosted "DD/MM/YYYY"}}
                                        </small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div id="productwin" class="container tab-pane fade "><br>
            <div class="container ">
                <div class="row justify-content-between">
                    {{#each win}}
                    <div class="col-4 col-md-4">
                        <div class="ibox">
                            <div class="ibox-content product-box">
                                <a class="btn addFavoriteBtn" href="/profile/{{../information.uID}}/comment/{{prodID}}" ><i class="fa fa-plus favoriteIcon"
                                        aria-hidden="true" href="/"></i>
                                    <span class="textFavorite"> Đánh giá </span>
                                </a>
                                <div class="product-imitation">
                                    <img src="/public/images/{{prodID}}/main.jpg" class="responsive-img" />
                                </div>
                                <div class="product-desc" onclick="location.href='/detail/{{prodID}}'">
                                    <span class="product-label">
                                        HOT
                                    </span>
                                    <small class="text-muted">Bids: {{CountBids}}</small>
                                    <a href="#" class="product-name"> {{prodName}}</a>

                                    <div class="price">
                                        {{#if nameofUser}}
                                        <div>{{nameofUser}}:
                                            <span class="font-weight-bold">{{format_price curPrice}}</span>
                                        </div>
                                        {{else}}
                                        <div>Giá khởi điểm: <span class="font-weight-bold">{{format_price
                                                curPrice}}</span></div>
                                        {{/if}}
                                    </div>
                                    <div class="textPrice">
                                        <div>Giá mua ngay:
                                            <span class="font-weight-bold">{{format_price buyNowPrice}}</span>
                                        </div>
                                    </div>
                                    <div class="remain-time">
                                        <i class="fa fa-clock-o"></i>
                                        Còn lại: {{formatTime timeEnd "DD/MM/YYYY"}}
                                    </div>

                                    <br />
                                    <div class="text-right">
                                        <small class="text-muted text-right"><i class="fa fa-calendar"></i>
                                            {{formatTime timePosted "DD/MM/YYYY"}}
                                        </small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>