<div class="container my-4">
  {{#if mes}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{mes}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}
  {{#if warn}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{warn}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}
  <a class="btn">
    <h4>Thông tin cá nhân
    </h4>
  </a>

  <div class="container" style="width:90%;" id="InforTable">
    <form id="frmEditProfile" method="post" class="form">
      <div class="row">
        <input
          class="input"
          type="hidden"
          placeholder=" "
          value={{information.uID}}
          name="uID"
        />
        <input
          class="input"
          type="hidden"
          placeholder=" "
          value={{information.userType}}
          name="userType"
        />
        <div class="col-xs-12 col-sm-12">
          <div class="input-container ic1">
            <input
              id="txtEmail"
              class="input"
              type="text"
              placeholder=" "
              value="{{information.email}}"
              name="email"
              required
              readonly
            />
            <div class="cut"></div>
            <label for="txtEmail" class="placeholder">Email</label>
          </div>
          <div class="input-container ic1">
            <input
              id="txtFirstName"
              class="input"
              type="text"
              placeholder=" "
              value="{{information.firstName}}"
              name="firstName"
              required
            />
            <div class="cut"></div>
            <label for="txtFirstName" class="placeholder">Tên</label>
          </div>
          <div class="input-container ic2">
            <input
              id="txtLastName"
              class="input"
              type="text"
              placeholder=" "
              value="{{information.lastName}}"
              name="lastName"
              required
            />
            <div class="cut"></div>
            <label for="txtLastName" class="placeholder">Họ</label>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12">
          <div class="input-container ic1">
            <input
              id="txtAddress"
              class="input"
              type="text"
              placeholder=" "
              value="{{information.address}}"
              name="address"
              required
            />
            <div class="cut"></div>
            <label for="txtAddress" class="placeholder">Địa chỉ</label>
          </div>
          <div class="input-container ic2">
            <!-- Date input -->
            <input
              class="form-control input"
              id="txtDOB"
              name="dob"
              type="date"
              placeholder=" "
              value="{{formatTime information.dob 'YYYY-MM-DD'}}"
              name="dob"
              required
            />
            <div class="cut"></div>
            <label for="dob" class="placeholder">Ngày sinh</label>
          </div>

          <div class="input-container ic2">
            <input
              id="txtHotline"
              class="input"
              type="text"
              placeholder=" "
              value="{{information.hotline}}"
              name="hotline"
              required
            />
            <div class="cut"></div>
            <label for="txtHotline" class="placeholder">Điện thoại</label>
          </div>

          <div class="input-container ic2">
            <input
              id="txtPassword"
              class="input"
              type="password"
              placeholder=" "
              name="psword"
              required
            />
            <div class="cut"></div>
            <label for="txtPassword" class="placeholder">Xác nhận password</label>
          </div>

        </div></div>
      <div class="col-12 text-right p-0"><button
          type="text"
          class="submit updateProfile"
          data-toggle="modal"
          data-target="#confirmEditModal"
        >CHỈNH SỬA</button></div>

    </form>

  </div>
</div>