<div class="container my-5">
    <div class="container mt-3" style="width:90%;">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th scope="row">
                        <h5>Họ và tên</h5>
                    </th>
                    <td>{{concatName infor.firstName infor.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">
                        <h5>Đánh giá</h5>
                    </th>
                    <td>
                        <span class="text-info font-weight-bold">{{likeRate}} <i class="fa fa-thumbs-up"></i>&nbsp</span>
                        <span class="text-danger font-weight-bold pl-2 ">{{dislikeRate}}<i class="fa fa-thumbs-down"></i></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mb-5 border" style="border-radius: 5px 5px 0 0; padding-left: 0; padding-right:0">
    <div class="border-bottom p-1" style="background-color: #FF8A00; border-radius: 5px 5px 0 0;">
        <h5>Chi tiết đánh giá</h5>
    </div>
    {{#if comment}}
    {{#each comment}}
    <div class="media m-3">
        <img class="d-flex mr-3 z-depth-1 " src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
            width="60" height="60" alt="Generic placeholder image">
        <div class="media-body">
            <div class="d-sm-flex justify-content-between">
                <p class="mt-1 mb-0">
                    <strong>{{nameofSeller}}</strong>
                </p>
            </div>
            <div><small><a class="text-black" href="/detail/{{prodID}}">ID sản phẩm: {{prodID}}</a></small></div>
            
            {{#if liked}}<div><i class="text-info fa fa-thumbs-up "></i></div>
            {{else}}<div><i class="text-danger fa fa-thumbs-down"></i></div>{{/if}}
            <hr align="left" width="20%">
            <p class="mb-2">{{cmt}}</p>
        </div>
    </div>
    <hr width="80%">
    {{/each}}
    {{else}}
        <div class="text-center"><h3>Chưa có đánh giá</h3></div>
    {{/if}}
</div>