<header class="bg-light text-white">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-between">

      <h4 class="nav col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <img src="/public/images/icondaugia.png" alt="icondaugia" class="logo" height="45" />
        <a href="/" class="nav-link px-2 text-secondary header__title">AUCTION
          ONLINE</a>
      </h4>
      <div class="nav-item dropdown m-3">
        <button class="dropdown-toggle border-0 categoryBtn" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Danh mục
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
          {{#each lv1Categories}}
          <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1" href="/byCat/{{catID}}">{{catName}}</a>
            <ul class="dropdown-menu">
              {{#each ../lv2Categories}}
              {{#ifCond category ../catID}}
              <li class="dropdown-item"><a tabindex="-1" class="text-dark text-decoration-none"
                  href="/byCat2/{{typeID}}">{{typeName}}</a>
              </li>
              {{/ifCond}}
              {{/each}}
            </ul>
          </li>
          {{/each}}
          <li>
            <a class="dropdown-item" tabindex="-1" href="/allproducts">Tất cả</a>
          </li>
        </ul>
      </div>

      <form class="col-lg-4 input-group mb-2 mb-lg-0 me-lg-3" action="/product/search">
        <select class="form-select border-right-0 rounded-0 active categoryBtn" name="categorySearch"
          aria-label="Default select example"
          style="font-weight: 400; font-size: 16px; border: solid 1px #ced4da; border-radius: 20px 0 0 20px !important;padding-left: 1em;">
          <option value="0" selected>Danh mục</option>
          {{#each lv2Categories}}
          <option value="{{typeID}}">{{typeName}}</option>
          {{/each}}
        </select>

        <input type="search" class="form-control form-control-dark categoryInput" placeholder="Tên sản phẩm"
          aria-label="Search" name="searchbox" />
        <button type="submit" class="btn btn-outline-warning rounded-0 border-left-0 categorySearchIconBtn">
          <i class="fa fa-search"></i>
        </button>

      </form>
      {{#if authUser}}
      {{#if (isAdmin authUser.userType)}}
      <a name="" id="" class="btn btn-outline-danger" href="/admin" role="button">
        <i class="fa fa-heart" aria-hidden="true"></i>
       Admin
      </a>
      {{/if}}
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            {{authUser.userType}}, <b>{{authUser.lastName}}!</b>
          </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">
                <i class="fa fa-user" aria-hidden="true"></i>
                Thông tin cá nhân
              </a>
              <a class="dropdown-item" href="/profile/profile-comment">
                <i class="fa fa-comment" aria-hidden="true"></i>
                Đánh giá của bản thân
              </a>
                <a class="dropdown-item" href="/mylist/favorite">
               <i class="fa fa-heart" aria-hidden="true"></i>
               Sản phẩm yêu thích
              </a>
                <a class="dropdown-item" href="/mylist/participating">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Sản phẩm đang tham gia
              </a>
                <a class="dropdown-item" href="/mylist/winning">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                Sản phẩm đã thắng
              </a>
          {{#if (isSeller authUser.userType) }}
          <a class="dropdown-item" tabindex="-1" href="/mylist/myproducts">
              <i class="fa fa-gavel" aria-hidden="true"></i>
              Sản phẩm đang đấu giá
            </a>
            <a class="dropdown-item" tabindex="-1" href="/postProduct">
              <i class="fa fa-pencil-square" aria-hidden="true"></i>
              Đăng sản phẩm
            </a>

            {{/if}}
            {{#if (isBidder authUser.userType) }}

            <a class="dropdown-item" tabindex="-1" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-level-up" aria-hidden="true"></i>
              Nâng cấp thành seller
            </a>
            
            
            {{/if}}
         
            <a class="dropdown-item" tabindex="-1" href="/account/updatepassword/{{authUser.uID}}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              Đổi mật khẩu
            </a>


            <div class="dropdown-divider"></div>
            <form id="frmLogout" action="/account/logout" method="post"></form>
            <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Đăng xuất
            </a>
          </div>
        </li>
      </ul>
      {{else}}


      <div class="m-3">
        <a class="btn btn-outline-warning me-2 signupBtn" href="/account/login" role="button">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Login
        </a>
        <a class="btn btn-outline-warning me-2 signupBtn" href="/account/signup" role="button">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Sign-up
        </a>
        {{!-- <button type="button" class="btn btn-outline-dark me-2 signupBtn" href="/login"><i
            class="fa fa-sign-in mx-2"></i>Login</button> --}}
        {{!-- <button type="button" class="btn btn-outline-dark signupBtn" href="/signup">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          Sign-up</button> --}}
      </div>
      {{/if}}
    </div>
  </div>
</header>