{{#section 'js'}}
<script>
   $('.addFavoriteBtn').on('click',function(e){
     const id = $(this).data('id');
     $('#id').val(id);
     $('#watchlistForm').submit();
   });

</script>
{{/section}}
<form id="watchlistForm" action="/watchlist/edit" method="post" hidden>
  <div class="row form-group">
    <div class="input-group">
      <input type="text" class="form-control" name="uid" id="uid" value="{{authUser.uID}}">
      <input type="text" class="form-control" name="id" id="id">
    </div>
  </div>
</form>
{{! ---------------------------------Top 5 đấu giá nhiều nhất-------------------- }}
<div class="container-fluid my-3">
  <div class="mx-5 d-flex justify-content-between my-3">
    <h4>Top 5 nhiều lượt đấu giá nhất</h4>
  </div>

  {{! --------------------------Khung để sản phẩm------------------------- }}

  <div class="containItem">
    <div class="row justify-content-center">
      {{#each this.top5Bid}}
       <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
             {{#if ../authUser}}
            {{!-- <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button> --}}
           {{#if inWatchlist }}
            <button data-id="{{prodID}}"  class="addFavoriteBtn" id="addFavoriteBtn"><i class="fa fa-minus " aria-hidden="true"></i>
              <span class="textFavorite"> Bỏ yêu thích</span>
            </button>
            {{else}}
            <button data-id="{{prodID}}"  class="addFavoriteBtn"id="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            {{/if}}
            {{/if}}
            <div class="product-imitation">
              <img src="/public/images/{{prodID}}/main.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail/{{prodID}}'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: {{CountBids}}</small>
              <a href="#" class="product-name"> {{prodName}}</a>

                <div class="price">
                  {{#if nameofUser}}
                    <div>{{nameofUser}}:
                      <span class="font-weight-bold">{{format_price
                          curPrice
                        }}</span>
                    </div>
                  {{else}}
                    <div>Current Price:
                      <span class="font-weight-bold">{{format_price
                          curPrice
                        }}</span></div>
                  {{/if}}
                </div>
                <div class="textPrice">
                  <div>Giá mua ngay:
                    <span class="font-weight-bold">{{format_price
                        buyNowPrice
                      }}</span>
                  </div>
                </div>
                <div class="remain-time">
                  <i class="fa fa-clock-o"></i>
                  Còn lại:
                  {{formatTime timeEnd "DD/MM/YYYY"}}
                </div>

                <br />
                <div class="text-right">
                  <small class="text-muted text-right"><i
                      class="fa fa-calendar"
                    ></i>
                    {{formatTime timePosted "DD/MM/YYYY"}}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
  {{! --------------------------------Top 5 sản phẩm mới nhất tương tự--------------------------------- }}
  <div class="mx-5 d-flex justify-content-between my-3">
    <h4>Top 5 sản phẩm đang có giá cao nhất</h4>
  </div>
  <div class="containItem">
    <div class="row justify-content-center row-eq-height">
      {{#each this.top5Price}}
      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
             {{#if ../authUser}}
            {{!-- <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button> --}}
           {{#if inWatchlist }}
            <button data-id="{{prodID}}"  class="addFavoriteBtn" id="addFavoriteBtn"><i class="fa fa-minus " aria-hidden="true"></i>
              <span class="textFavorite"> Bỏ yêu thích</span>
            </button>
            {{else}}
            <button data-id="{{prodID}}"  class="addFavoriteBtn"id="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            {{/if}}
            {{/if}}
            <div class="product-imitation">
              <img src="/public/images/{{prodID}}/main.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail/{{prodID}}'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: {{CountBids}}</small>
              <a href="#" class="product-name" style=" "> {{prodName}}</a>

                <div class="price">
                  {{#if nameofUser}}
                    <div>{{nameofUser}}:
                      <span class="font-weight-bold">{{format_price
                          curPrice
                        }}</span>
                    </div>
                  {{else}}
                    <div>Current Price:
                      <span class="font-weight-bold">{{format_price
                          curPrice
                        }}</span></div>
                  {{/if}}
                </div>
                <div class="textPrice">
                  <div>Giá mua ngay:
                    <span class="font-weight-bold">{{format_price
                        buyNowPrice
                      }}</span>
                  </div>
                </div>
                <div class="remain-time">
                  <i class="fa fa-clock-o"></i>
                  Còn lại:
                  {{formatTime timeEnd "DD/MM/YYYY"}}
                </div>

                <br />
                <div class="text-right">
                  <small class="text-muted text-right"><i
                      class="fa fa-calendar"
                    ></i>
                    {{formatTime timePosted "DD/MM/YYYY"}}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>

  <div class="mx-5 d-flex justify-content-between my-3">
    <h4>Top 5 sản phẩm sắp kết thúc</h4>
  </div>

  <div class="containItem">
    <div class="row justify-content-center">
      {{#each this.top5End}}
      <div class="col-4 col-lg-2">
        <div class="ibox">
          <div class="ibox-content product-box">
             {{#if ../authUser}}
            {{!-- <button class="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button> --}}
           {{#if inWatchlist }}
            <button data-id="{{prodID}}"  class="addFavoriteBtn" id="addFavoriteBtn"><i class="fa fa-minus " aria-hidden="true"></i>
              <span class="textFavorite"> Bỏ yêu thích</span>
            </button>
            {{else}}
            <button data-id="{{prodID}}"  class="addFavoriteBtn"id="addFavoriteBtn"><i class="fa fa-plus favoriteIcon" aria-hidden="true"></i>
              <span class="textFavorite"> Yêu thích</span>
            </button>
            {{/if}}
            {{/if}}
            <div class="product-imitation">
              <img src="/public/images/{{prodID}}/main.jpg" class="responsive-img" />
            </div>
            <div class="product-desc" onclick="location.href='/detail/{{prodID}}'">
              <span class="product-label">
                HOT
              </span>
              <small class="text-muted">Bids: {{CountBids}}</small>
              <a href="#" class="product-name"> {{prodName}}</a>

                <div class="price">
                  {{#if nameofUser}}
                    <div>{{nameofUser}}:
                      <span class="font-weight-bold">{{format_price
                          curPrice
                        }}</span>
                    </div>
                  {{else}}
                    <div>Current Price:
                      <span class="font-weight-bold">{{format_price
                          curPrice
                        }}</span></div>
                  {{/if}}
                </div>
                <div class="textPrice">
                  <div>Giá mua ngay:
                    <span class="font-weight-bold">{{format_price
                        buyNowPrice
                      }}</span>
                  </div>
                </div>
                <div class="remain-time">
                  <i class="fa fa-clock-o"></i>
                  Còn lại:
                  {{formatTime timeEnd "DD/MM/YYYY"}}
                </div>

                <br />
                <div class="text-right">
                  <small class="text-muted text-right"><i
                      class="fa fa-calendar"
                    ></i>
                    {{formatTime timePosted "DD/MM/YYYY"}}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>

</div>